.center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.playerlist{
  padding: 20px
}


.display {
  position:absolute;
  font-size: 1.25rem;
  padding: 10px;
  left:50%;
  margin: 0 auto;
  top:5%;
  max-width: 200px;
  color:#26466D;
  text-align: center;
  background-color: #B9D3EE;
  transform: translate(-50%, -50%);
}



